extends layout

block content
    #header
        #content
            h1= title
            p Welcome to #{title}

    #start
        h1 Welcome to this div
        p The main reason  wanted to do this was to try others...

    #middle
        h1 Welcome to the middle section
        p making this Hebrew thing happen is the greatest thing about us

    #footer
        p The workings of this website is for education...

