#single-portfolio
    #portfolio-details.container
        a.close-folio-item(href='#')
            i.fa.fa-times
        img.img-responsive(src='images/portfolio/portfolio-details.jpg', alt='')
        .row
            .col-sm-9
                .project-info
                    h3 Texts about Project
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
            .col-sm-3
                .project-details
                    h3 Project Details
                    p
                        span Client:
                        | WrapBootstrap
                    p
                        span Date:
                        |  15 Oct 2014
                    p
                        span Tag:
                        |  Graphic, Design, Creative
